 .rate0::after { 
     font-size: 24px; 
     content: '☆☆☆☆☆'; 
     color: #FFF900;
}

.rate1::after {
    content: '★☆☆☆☆';
    font-size: 24px; 
     color: #FFF900;
} 

.rate2::after { 
    content: '★★☆☆☆'; 
    font-size: 24px; 
     color: #FF8800;
}
.rate3::after {
     content: '★★★☆☆'; 
     font-size: 24px; 
     color: #FF8800;
} 

.rate4::after { 
    font-size: 24px; 
    content: '★★★★☆'; 
     color: #FF8800;
} 

.rate5::after { 
    content: '★★★★★'; 
    font-size: 24px; 
     color: #FF8800;
}